body{
    color: rgb(139, 139, 96);
    background: rgb(243, 240, 240);
    font-family:'roboto';
}
/*header*/
p,
h1{
    margin: 0;
}

h1{
    font-size: 3rem;
    font-weight: 100;
}

.headerImg{
    display: flex;
    grid-column: 1;
}

.headerInfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 4;
}

.info{
    grid-column: 2;
}

.frng{
    font-size: 3rem;
}

.header{
    display: grid;
    grid-column: 1fr 1fr;
    padding-bottom: 1em;
    padding-left: 7px;
}

h2{
    grid-column: 1/3;
    grid-row: 1;
}

p{
    grid-column: 1;
}

/*Weather*/

.today,
.wednesday,
.thursday,
.friday,
.saturday,
.sunday,
.monday{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid rgb(139, 139, 96);
}

.first{
    grid-column: 1;
    place-self: center;
}

.second{
    grid-column: 2;
    place-self: center;
}

.third{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 3;
}

.fourth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 4;
    
}
.lastColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*min-width: 768px*/

@media screen and (min-width:768px){
    .third{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .fourth{
        display: inline-flex;
        flex-direction: row;
    }

    .fourth div{
        padding-right: 5px;
    }
}

@media screen and (min-width: 1200px){
    .mainPage{
        display: flex;
        justify-content: space-around;
    }
    .today,
    .wednesday,
    .thursday,
    .friday,
    .saturday,
    .sunday,
    .monday{
        display: flex;
        flex-direction: column;
        border-top: none;
    }
}

form{
    margin: 0 auto;
}
input{
    border: none;
    border-radius: 10px;
    padding: 5px;
}

button{
    background: rgb(49, 186, 231);
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    padding: 5px;
}

